 .container {
            margin-top: 150px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .category {
            width: 100%;
            text-align: center;
              

        }

        .category-title {
            font-size: 25px;
            margin-bottom: 15px;
            color: #00A2E8;
              
  text-shadow:
-2px -2px 0 #99D9EA,
     2px -2px 0 #99D9EA,
    -2px  2px 0 #99D9EA,
     2px  2px 0 #99D9EA,
    -2px  0px 0 #99D9EA,
     2px  0px 0 #99D9EA,
     0px -2px 0 #99D9EA,
     0px  2px 0 #99D9EA;
        }

        .link-group {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
        }

        .link-button {
            display: block;
            width: 450px;
            height: 55px;
            text-align: center;
            line-height: 55px;
            text-decoration: none;
            font-size: 22px;
            font-weight: 0;
            color: #00A2E8;
            backdrop-filter: blur(10px);
            background: url('/resources/button.webp') no-repeat center center/cover, rgba(19, 28, 51, 0.7);;
            border: none;
            transition:  background 0.2s ease;
                 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Keeps text centered regardless of icon */
    gap: 10px;
    /* padding-left: 55px; /* Creates space for the icon */
        }

.link-button img {
    position: absolute;
    left: 10px;
    width: 35px;
    height: 35px;
    object-fit: contain;
    pointer-events: none; /* Icon doesn’t block clicks */
}
        .link-button:hover {
            background-color: rgba(60, 106, 156, 0.512);
            color: #99D9EA; /* or any hover color you want */
    transition: color 0.2s ease;
        }


        @media (max-width: 768px) {
          
            .link-button {
                width: 325px;
                backdrop-filter: blur(10px);
            background: url('/resources/buttonsmall.webp') no-repeat center center/cover, rgba(19, 28, 51, 0.7);;
                
            }
        }