.titlea {
            font-size: 45px;
            margin-bottom: 15px;
            color: #00A2E8;
             text-shadow:
-2px -2px 0 #99D9EA,
     2px -2px 0 #99D9EA,
    -2px  2px 0 #99D9EA,
     2px  2px 0 #99D9EA,
    -2px  0px 0 #99D9EA,
     2px  0px 0 #99D9EA,
     0px -2px 0 #99D9EA,
     0px  2px 0 #99D9EA;
        
        }